{% extends "base.html" %}
{% block content %}

{{ day }} {{ month }} {{ year }}

<form action='/confirm_appt' method='POST'>
  <h1>Bay Area Oral & Maxillofacial Surgery </h1>
  <h2>450 Sutter Suite#1001</h2>
  <h3>San Francisco Ca 94109</h3>
  <h4>(415)771-2918</h4>
  <input type='radio' name= 'appt_time' value='8:00am'> 8:00am
  <text> 
  <input type='radio' name= 'appt_time' value='9:00am'> 9:00am
  <input type='radio' name= 'appt_time' value='10:00am'> 10:00am
  <input type='radio' name= 'appt_time' value='11:00am'> 11:00am
  <input type='radio' name= 'appt_time' value='1:00pm'> 1:00pm
  <input type='radio' name= 'appt_time' value='2:00pm'> 2:00pm
  <input type='radio' name= 'appt_time' value='3:00pm'> 3:00pm
  <input type='radio' name= 'appt_time' value='4:00pm'> 4:00pm
  <input type='radio' name= 'appt_time' value='5:00pm'> 5:00pm
  <input type="submit" class="textbox">
</form>
{% endblock %}