{% extends "base.html" %}
{% block content %}
	<!-- <link rel="stylesheet" href="./style.css"> -->
	<h1>Bay Area Oral & Maxillofacial Surgery </h1>
	<h2> Serving San Francisco for over 20 years!</h2>
	<a href="/fill this in"> <button type="button"class="btn-lg btn-primary"> About Us</button></a>
	<br>
	<a href="/fill this in"> <button class="btn-lg btn-primary">Procedures</button></a>
	<br>
	<a href="/reviews" class="btn-lg btn-primary">Reviews</a><br>
	<a href="/plogin" class="btn btn-lg btn-primary">Patient Login</a><br>
	<a href="/owner_login" class="btn btn-lg btn-primary">Provider Login</a>

{% endblock %}

		